{% set menu = knp_menu_get('main') %}
<!DOCTYPE html>
<html{% if app.request.locale is defined %} lang="{{ app.request.locale }}"{% endif %}>
    <head {{ sonata_seo_html_attributes() }}>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ eone_seo_title(menu.currentItem) }}{% endblock %}</title>        
        {% block meta %}{{ eone_seo_metadata(menu.currentItem) }}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="header">
        {% block menu %}
            {{ knp_menu_render(menu) }}
        {% endblock %}
        </div>
        <div id="main">{% block body %}{% endblock %}</div>
    </body>
</html>
